<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>paga</name>
	<displayName><![CDATA[Paga]]></displayName>
	<version><![CDATA[1.0]]></version>
	<description><![CDATA[Accept payments for your products via Paga accounts, Verve Cards, Naira Mastercard and Visa Cards!]]></description>
	<author><![CDATA[Tunbosun Ayinla]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall the Paga Prestashop Payment Gateway Module?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>